.custom-input {
  --border-color: var(--sigapp-border);
  --border-radius: var(--sigapp-radius-md);
  --border-style: solid;
  --border-width: 1px;
  margin: var(--sigapp-space-4) 0;

  ion-label {
    position: relative;
    bottom: 2px;
  }

  .eye-icon {
    position: relative;
    top: 15px;
  }
}
