<app-header title="Inventario" [backButton]="backUrl"></app-header>
<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-content>
          <ion-searchbar show-clear-button="always" value="Always Show"></ion-searchbar>
          <ion-list [inset]="true">
            <ion-item [button]="true">
              <ion-icon color="danger" slot="start" name="list-circle" size="large"></ion-icon>
              <ion-label>General</ion-label>
              <ion-note slot="end">6</ion-note>
            </ion-item>
            <ion-item [button]="true">
              <ion-icon color="tertiary" slot="start" name="list-circle" size="large"></ion-icon>
              <ion-label>Shopping</ion-label>
              <ion-note slot="end">15</ion-note>
            </ion-item>
            <ion-item [button]="true">
              <ion-icon color="success" slot="start" name="list-circle" size="large"></ion-icon>
              <ion-label>Cleaning</ion-label>
              <ion-note slot="end">3</ion-note>
            </ion-item>
            <ion-item [button]="true">
              <ion-icon color="warning" slot="start" name="list-circle" size="large"></ion-icon>
              <ion-label>Reminders</ion-label>
              <ion-note slot="end">8</ion-note>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="success" (click)="addAnimal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
