<app-header title="Registrar vacunación" [backButton]="backUrl"></app-header>

<ion-content>
  <div class="ion-padding">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-select
            label="Animal"
            label-placement="stacked"
            formControlName="animalId"
            interface="popover"
          >
            <ion-select-option
              *ngFor="let animal of animals"
              [value]="animal.id"
            >
              {{ animal.code || animal.id }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-input
            label="Vacuna / producto"
            label-placement="stacked"
            formControlName="product"
            placeholder="Ej: Aftosa, Carbón, Triple"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            type="date"
            label="Fecha de aplicación"
            label-placement="stacked"
            formControlName="date"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            type="date"
            label="Próxima dosis"
            label-placement="stacked"
            formControlName="nextDate"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Dosis"
            label-placement="stacked"
            formControlName="dose"
            placeholder="Ej: 2 ml"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-input
            label="Responsable"
            label-placement="stacked"
            formControlName="responsible"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-textarea
            label="Notas"
            label-placement="stacked"
            formControlName="notes"
            placeholder="Observaciones del procedimiento"
          ></ion-textarea>
        </ion-item>
      </ion-list>

      <ion-button
        expand="block"
        color="primary"
        type="submit"
        [disabled]="form.invalid || !animals.length"
      >
        Guardar vacunación
      </ion-button>
    </form>
  </div>
</ion-content>
