.main-tabs {
  overflow: visible;
}

.main-tab-bar {
  height: 72px;
  position: relative;
}

.main-action-placeholder {
  --ripple-color: transparent;
}

.main-action-placeholder ion-label {
  margin-top: 34px;
  font-size: var(--sigapp-font-size-xs);
}

.main-action-fab {
  bottom: calc(36px + env(safe-area-inset-bottom));
  z-index: 1000;
}

.main-action-fab ion-fab-button {
  width: 58px;
  height: 58px;

  --background: var(--ion-color-primary);
  --background-activated: var(--ion-color-primary-shade);
  --background-focused: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
  --box-shadow: var(--sigapp-shadow-md);
}

.side-menu-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-menu-list,
.side-menu-footer {
  padding: 0;
}

.side-menu-list ion-item,
.side-menu-footer ion-item {
  --inner-border-width: 0 0 1px 0;
  --border-color: var(--sigapp-border);
}
