<app-header title="Animal" [isModal]="isModal"></app-header>
<ion-content>
  <div class="div-flex-center">
    <form [formGroup]="formAnimal" (ngSubmit)="onSubmit()" (keypress.enter)="onSubmit()"
      class="ion-padding ion-text-center">
      <ion-list lines="none">
        <ion-item>
          <strong>
            <ion-label class="ion-text-center">Id: {{$any(formAnimal).get('uid').value}} </ion-label>
          </strong>
        </ion-item>
        <ion-item>
          <ion-label>Genero:</ion-label>
          <ion-radio-group [formControl]="$any(formAnimal).get('gender')">
            <ion-radio value="m" justify="end" labelPlacement="start">Macho</ion-radio>
            <ion-radio value="h" justify="end" labelPlacement="start">Hembra</ion-radio>
          </ion-radio-group>
        </ion-item>
        <ion-item>
          <ion-toggle color="success" justify="space-between" labelPlacement="start"
            [formControl]="$any(formAnimal).get('isAlive')">Esta
            vivo?:</ion-toggle>
        </ion-item>
        <ion-item>
          <ion-toggle color="success" justify="space-between" labelPlacement="start"
            [formControl]="$any(formAnimal).get('isRegistered')">Tiene Registro?:</ion-toggle>
        </ion-item>
        <ion-item>
          <ion-toggle color="success" justify="space-between" labelPlacement="start"
            [formControl]="$any(formAnimal).get('isPure')">Es raza pura?:</ion-toggle>
        </ion-item>
      </ion-list>
      <app-custom-input type="text" label="Marca" [control]="$any(formAnimal).get('ironMark')"></app-custom-input>
      <ion-button type="submit" shape="round" mode="ios" color="success" class="ion-margin">
        Agregar
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
