<app-header title="Inicio" [isSignOut]="true"></app-header>
<ion-grid fixed>
  <ion-row>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card (click)="onClick(1)">
        <ion-img alt="Inventario" src="../../../assets/logo/menu1.png"></ion-img>
        <ion-card-header>
          <ion-card-title>Inventario</ion-card-title>
          <ion-card-subtitle>Registro y control de animales</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card (click)="onClick(2)">
        <ion-img alt="Reporte" src="../../../assets/logo/menu2.png"></ion-img>
        <ion-card-header>
          <ion-card-title>Reporte</ion-card-title>
          <ion-card-subtitle>Consulta y descarga de reportes</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="12" sizeMd="6" sizeLg="4">
      <ion-card (click)="onClick(3)">
        <ion-img alt="Ayuda" src="../../../assets/logo/menu3.png"></ion-img>
        <ion-card-header>
          <ion-card-title>Ayuda</ion-card-title>
          <ion-card-subtitle>Soporte y preguntas frecuentes</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
