<ion-content class="auth-content">
  <div class="auth-layout">
    <form class="auth-form" [formGroup]="formAuth" (ngSubmit)="onSubmit()">
      <app-logo></app-logo>
      <app-custom-input
        type="email"
        icon="person-circle-outline"
        label="Usuario"
        autoComplete="email"
        formatMessage="Ingresa un correo electrónico válido."
        [control]="$any(formAuth).get('email')"
      ></app-custom-input>
      <app-custom-input
        type="password"
        icon="lock-closed-outline"
        label="Contraseña"
        autoComplete="current-password"
        [control]="$any(formAuth).get('password')"
      ></app-custom-input>
      <div class="ion-text-end">
        <ion-button fill="clear" size="small" routerLink="forgot-password">
          ¿Olvidaste tu contraseña?
        </ion-button>
      </div>
      <ion-button
        type="submit"
        [disabled]="formAuth.invalid || isSubmitting"
        expand="block"
        color="primary"
        class="button-submit"
      >
        Iniciar sesión
      </ion-button>
    </form>
  </div>
</ion-content>
